In [67]:
p = 100000
r = 3.15
t = 5
si = p * r * t / 100 
print(si)

15750.0

In [68]:
x = 1
y = 356562255548871
z = 3255522

In [69]:
x = 1.7 
y = 1.0 
z = -35.59

In [70]:
name = "bruce wayne 01"
color = 'yellow'
Institute = 'digipodium'

In [71]:
a = 2301
b = 21.11
c ="string here"
d = True 
e = None

In [72]:
fruits = ['apple' , 'banana' , 'chestnut']
coords = (2,4,5)
items = {3,5,1,2,5,6,2,1}
emp = {'name':'alex' , 'age' : 40 }

In [73]:
'chestnut' in fruits

True

In [74]:
'mango' in fruits

False

In [75]:
name = input('enter your name')
age = int(input('enter your age :'))

In [ ]:
pi = 22/7 
r = float(input('enter radius :'))
area = pi*r**2
print(r)
print(area)

3.3
34.22571428571428

In [ ]:
# output using f-strings 
print(f'a={a} , b={b} , c={c}')

In [ ]:
#comma separated display
print(a,b,c)
print(f'a={a},b={b},c={c}')
print('a=',a,'b=',b,'c=',c)